*.pyc
build/
#dist/
docs/_build/
*.egg-info/
.coverage
.eggs/
*.ignore
*.ipynb_checkpoints/
*junit/
#lib/
#script: npm install --package-lock-only --ignore-scripts /python/interpret-core/interpret/lib/
log.txt
test-log.txt
dev-log.txt
*.csv
*.ipynb
.coverage.*
geckodriver.log
coverage.xml
htmlcov/
symbolic/python/
symbolic/staging/
symbolic/tmp/
# script: cp -r shared python/interpret-core/symbolic/shared
